<footer class="rodape-site">
    <div class="text-rodape-site">
      <h3 class="text-shop"></h3>
      <section id="footer-001" class="rodape-footer">
        <div class="shop">
        <h6 class="text-shop-1"> Loja </h6>
        <ul class="tex-shop-1-1">
          <li><a href="#"> Vinhos </a></li>
          <li><a href="#"> Champanhe </a></li>
          <li><a href="#"> Whisky </a></li>
          <li><a href="#"> Outras Bebidas </a></li>
        </ul>
      </div>
      <div class="shop">
        <h6 class="text-shop-1"> Wine </h6>
        <ul class="tex-shop-1-1">
          <li><a href="#"> Home </a></li>
          <li><a href="#"> Quem Somos </a></li>
          <li><a href="#"> Nossos Produtos </a></li>
          <li><a href="#"> Trabalhe Conosco </a></li>
        </ul>
      </div>
      <div class="contact">
        <h6 class="text-shop-2"> Minha Conta </h6>
        <ul class="tex-shop-1-1">
          <li><a href="#"> Login </a></li>
          <li><a href="#"> Meu Carrinho </a></li>
          <li><a href="#"> Meu Cadastro </a></li>
          <li><a href="#"> Meus Pedidos </a></li>
        </ul>
      </div>
      <div class="social-media-footer">
        <h6 class="social-media-text"> Redes Sociais </h6>
        <ul class="list-social-media">
          <li><a href="#"><span class="iconify" data-icon="fa6-brands:tiktok"></span><i class="tiktok"></i></a></li>
              <li><a href="#"><span class="iconify" data-icon="fa6-brands:linkedin"></span><i class="linkedin"></i></a></li>
              <li><a href="#"><span class="iconify" data-icon="fa6-brands:instagram-square"></span><i class="instagram"></i></a></li>  
              <li><a href="#"><span class="iconify" data-icon="fa6-brands:youtube-square"></span><i class="youtube"></i></a></li>  
              <li><a href="#"><span class="iconify" data-icon="fa6-brands:twitter-square"></span><i class="twitter"></i></a></li>  
              <li><a href="#"><span class="iconify" data-icon="fa6-brands:facebook-square"></span><i class="facebook"></i></a></li>
        </ul>
      </section>
      <div>
        <hr class="row Footer__separator"></hr>
      </div>
      <div class="TDR">
          <p> © Copyright 2022 - W2W E-Commerce de Vinhos S.A - CNPJ: 09.813.204/0002-05  </p>
          <p class="seBeber"> SE BEBER, NÃO DIRIJA. APRECIE COM MODERAÇÃO. A VENDA DE BEBIDAS ALCOÓLICAS É PROIBIDA PARA MENORES DE 18 ANOS. </p>
      </div>
  </footer>

    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>