<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white"> © Copyright 2022 - WineMix E-Commerce de Vinhos e Bebidas.</p> 
        <p class="m-0 text-center text-white"> SE BEBER, NÃO DIRIJA. APRECIE COM MODERAÇÃO. A VENDA DE BEBIDAS ALCOÓLICAS É PROIBIDA PARA MENORES DE 18 ANOS.</p>
    </div>
</footer>