<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cadastro.css">
    <title>Login page</title>
</head>
<body>
        <form>
            <img src="images/wine - logo top.svg" alt="Website logo" width="175" height="56">
            <p class="fraseInicial">Criar conta:</p>
            <div class="form">
                <div class="input">
                    <input type="text" name="sobrenome" id="sobrenome" placeholder="sobrenome">
                    <br>
                    <input type="text" name="nome" id="nome" placeholder="nome">
                    <br>
                    <input type="text" name="email" id="email" placeholder="e-mail">
                    <br>
                    <input type="password" name="senha" id="password" placeholder="senha">
                    <br>
                    <input type="text" name="endereco" id="endereco" placeholder="endereço">
                    <br>
                </div>
                <br>
                <button type="submit" class="loginButton">Cadastrar</button>
                <br>
            </div>
            <div>
                <br>
                <a href="/login" class="jaTenhoConta">Já tenho conta</a>
            </div>
        </form>
    <br>
    <footer class="rodape-site">
            <div class="TDR">
                <p> © Copyright 2022 - W2W E-Commerce de Vinhos S.A - CNPJ: 09.813.204/0002-05  </p>
                <p class="seBeber"> SE BEBER, NÃO DIRIJA. APRECIE COM MODERAÇÃO. A VENDA DE BEBIDAS ALCOÓLICAS É PROIBIDA PARA MENORES DE 18 ANOS. </p>
            </div>
    </footer>

</body>
</html>