<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login page</title>
</head>
<body class="">
       
   

    <form class="pagina-login-css">
            <img class="img-pagina-login-logo-wine" src="images/wine - logo top.svg" alt="Website logo" width="175" height="56">
            <p class="entrar-com-email"> Entrar com e-mail e senha </p>
            <div class="form">
                <input type="text" name="email" id="email" placeholder="digite seu e-mail">
                <br>
                <input type="password" name="senha" id="password" placeholder="digite sua senha">
                <br>
                <div class="checkbox-login">
                    <label> <input type="checkbox" name="rememberMe" value="rememberMe"> Lembrar meu login </label>
                </div>
                <br>
                <!--<input type="submit" value="entrar" class="Loginbutton">-->
                <button type="submit" class="loginButton"> Entrar </button>
                <br>
            </div>
            <div class="senha-cadastro-login">
                <a href="/novaSenha" class="esqueciSenha">Esqueci a senha</a>
                <a href="/cadastro" class="novoCadastro-login"> Novo cadastro </a>
            </div>
        </form>
   <!--footer-->
   <%- include('./partials/footer') %>
   <!-- footer-->
   
</body>
</html>