<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title>Login page</title>
</head>
<body>
        <form>
            <img src="images/wine - logo top.svg" alt="Website logo" width="175" height="56">
            <p class="fraseInicial">Entrar com e-mail e senha:</p>
            <div class="form">
                <input type="text" name="email" id="email" placeholder="e-mail">
                <br>
                <input type="password" name="senha" id="password" placeholder="senha">
                <br>
                <div class="checkbox">
                    <label> <input type="checkbox" name="rememberMe" value="rememberMe">Lembrar meu login</label>
                </div>
                <br>
                <!--<input type="submit" value="entrar" class="Loginbutton">-->
                <button type="submit" class="loginButton">Entrar</button>
                <br>
            </div>
            <div>
                <br>
                <a href="/novaSenha" class="esqueciSenha">Esqueci a senha</a>
                <hr class="divisor">
                <a href="/cadastro" class="novoCadastro">Novo cadastro</a>
            </div>
        </form>
    <br>
    <!--footer-->
    <%- include('./partials/footer') %>
</body>
</html>