<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Nova Senha</title>
</head>
<body>  
        <form class="pagina-recuperar-senha-css" method="POST">
            <img class="img-pagina-login-logo-wine" src="images/wine - logo top.svg" alt="Website logo" width="175" height="56">
            <p class="entrar-com-email-pagina-recuperar"> Vamos recuperar sua senha, digite o e-mail que você cadastrou</p>
            <div class="form">
                <input type="text" name="email" id="email" placeholder="digite seu e-mail" required>
                <br>
                <input type="text" name="email" id="email" placeholder="confirme seu e-mail" required>
                <br>
                <button type="submit" class="loginButton">Enviar</button>
                <br>
                <p class="digite-o-email"> Atenção - Até uma hora você irá receber um link no seu email para alterar sua senha </p>
            </div>
            <div class="senha-cadastro-senha">
                <a href="/login" class="esqueciSenha"> Entrar novamente </a>
                <a href="/cadastro" class="novoCadastro-login"> Criar nova conta </a>
            </div>
        </form>
</body>
<!--footer-->
<%- include('./partials/footer') %>
<!-- footer-->
</html>