<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Sobre</title>
</head>
<body>

 <!--header-->
 <%- include('./partials/header') %>
 <!-- header-->

<div class="container-pag-sobre">
    <div class="text-history">
        <h1> Nossa História </h1>
    </div>
    <div class="imagem-historia-wine">
        <p class="text-nossa-historia"> Temos muito orgulho de tudo o que fizemos e do quanto construímos, com muita energia para continuar crescendo e transformando o consumo consciente de vinho no país. Pensamos o futuro, respeitando o nosso passado, para realizar o presente.</p>
        <img src="/images/timeline-desk.webp" alt="">
    </div>
</div>


<!--footer-->
<%- include('./partials/footer') %>
<!-- footer-->

</body>
</html>