<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title> Sobre </title>
</head>
<body>

 <!--header-->
 <%- include('./partials/header') %>
 <!-- header-->

<div class="container-pag-sobre">
    <h1 class="text-history"> nossa história </h1>        
    <div class="imagem-historia-wine">
        <img class="img-taca-wine" src="https://img.wine.com.br/component/app_banner/ilustration.svg" alt="">
        <img class="img-sobre-pagina" src="/images/timeline-desk.webp" alt=""> 
        <p class="text-nossa-historia"> Temos muito orgulho de tudo o que fizemos e do quanto construímos, com muita energia para continuar crescendo e transformando o consumo consciente de vinho no país. Pensamos o futuro, respeitando o nosso passado, para realizar o presente.</p>
    </div>
</div>


<!--footer-->
<%- include('./partials/footer') %>
<!-- footer-->

</body>
</html>