<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title> Login </title>
</head>
<body>
    <main>
    <form class="pagina-login-css" action="/login" method="POST">
        <img class="img-pagina-login-logo-wine" src="images/winemix-logo-home.svg" alt="Website logo" width="85" height="85">
        <p class="entrar-com-email"> Entrar com e-mail e senha </p>
        <div class="form">
            <input type="text" name="email" id="email" placeholder="digite seu e-mail" required>
            <br>
            <input type="password" name="senha" id="password" placeholder="digite sua senha" required>
            <br>
            <div class="checkbox-login">
                <label> <input type="checkbox" name="rememberMe" value="rememberMe"> Lembrar meu login </label>
            </div>
            <br>
            <button type="submit" class="loginButton"> Entrar </button>
            <br>
        </div>
        <div class="senha-cadastro-senha">
            <a href="/novaSenha" class="senha-cadastro-login">Esqueci a senha </a>
            <a href="/Formcadastro" class="novoCadastro-login"> Criar conta </a>
        </div>
    </form>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>

