<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Nova Senha</title>
</head>
<body>
    <img classs= "img-pagina-recuperacao-senha" src="images/recuperacao-email-animado.gif">
<div class="pagina-recuperacao-senha-css">
    <h2>Link de recuperação de senha enviado com sucesso para o e-mail cadastrado!</h2>
</div>


<%- include('./partials/footer') %>
</body>
</html>