<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title> Trabalhe Conosco </title>
</head>
<body>

<%- include('./partials/header') %>

<main>
<div>
    <h1 class="vem-pra-wine"> VEM PARA A WINE!! </h1>
    <img class="image-trabalhe-conosco" src="/images/trabalhe-conosco-image.jpg" alt="">
    <h5 class="trabalhe-email"> Envie seu currículo para o email: <h5 class="trabalhe-email"> trabalhehomeoffice@wine.com.br </h5></h5>
</div>
</main>

<%- include('./partials/footer') %>

</body>
</html>