<footer class="rodape-site">
    <div class="text-rodape-site">
      <h3 class="text-shop"></h3>
      <section id="footer-001" class="rodape-footer">
        <div class="shop">
        <h6 class="text-shop-1"> Loja </h6>
        <ul class="tex-shop-1-1">
          <li><a href="/vinhos"> Vinhos </a></li>
          <li><a href="#"> Champanhe </a></li>
          <li><a href="#"> Whisky </a></li>
          <li><a href="#"> Ofertas </a></li>
        </ul>
      </div>
      <div class="shop">
        <h6 class="text-shop-1"> WineMix </h6>
        <ul class="tex-shop-1-1">
          <li><a href="/"> Home </a></li>
          <li><a href="/sobre"> Quem Somos </a></li>
          <li><a href="/produtos"> Nossos Produtos </a></li>
          <li><a href="/trabalhe"> Trabalhe Conosco </a></li>
        </ul>
      </div>
      <div class="contact">
        <h6 class="text-shop-2"> + Informações </h6>
        <ul class="tex-shop-1-1">
          <li><a href="/login"> Login </a></li>
          <li><a href="/novaSenha"> Esqueci Minha senha </a></li>
          <li><a href="/cadastro"> Cadastre-se </a></li>
          <li><a href="/historicoPedidos"> Meus Pedidos </a></li>
        </ul>
      </div>
      <div class="social-media-footer">
        <h6 class="social-media-text"> Redes Sociais </h6>
        <ul class="list-social-media">
          <li><a href="https://www.tiktok.com/@wine_vinhos"><span class="iconify" data-icon="fa6-brands:tiktok"></span><i class="tiktok"></i></a></li>
              <li><a href="https://www.linkedin.com/company/wine.com.br"><span class="iconify" data-icon="fa6-brands:linkedin"></span><i class="linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/winevinhos/"><span class="iconify" data-icon="fa6-brands:instagram-square"></span><i class="instagram"></i></a></li>  
              <li><a href="https://www.youtube.com/user/WineVinhos"><span class="iconify" data-icon="fa6-brands:youtube-square"></span><i class="youtube"></i></a></li>  
              <li><a href="https://twitter.com/wine_vinhos"><span class="iconify" data-icon="fa6-brands:twitter-square"></span><i class="twitter"></i></a></li>  
              <li><a href="https://www.facebook.com/winevinhos/"><span class="iconify" data-icon="fa6-brands:facebook-square"></span><i class="facebook"></i></a></li>
        </ul>
      </section>
      <div class="TDR">
          <p> © COPYRIGHT 2022 - WINEMIX S.A </p>
          <p class="seBeber"> SE BEBER, NÃO DIRIJA. APRECIE COM MODERAÇÃO. A VENDA DE BEBIDAS ALCOÓLICAS É PROIBIDA PARA MENORES DE 18 ANOS. </p>
      </div>
  </footer>

    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.0-beta.3/iconify-icon.min.js"></script>